.album-list {
  background-color: black;
  padding-bottom: 40px;

  div.link-container {
    display: inline-block;
    width: 33%;
    text-align: center;
    user-select: none;
    vertical-align: middle;

    div#random-album {
      background-image: url('/static/images/random.svg');
      width: 200px;
      height: 200px;
      margin: auto;
      margin-top: 40px;
    }

    div.album {
      margin-top: 40px;
      display: inline-block;
      background-color: black;
      padding: 40px;
      text-align: center;
      border: solid 1px gray;
      width: 85%;
      vertical-align: middle;

      h1 {
        font-family: 'TeachableSans-Regular';
        font-size: 40px;
        color: white;
        line-height: 50px;
        padding-bottom: 10px;
        word-wrap: break-word;
      }

      p {
        font-family: 'TeachableSans-SemiBold';
        color: green;
        font-size: 30px;
      }

      &:active {
        background-color: green;
        border: solid 1px black;

        h1, p {
          color: black;
        }
      }
    }
  }
}
