$highlight-color: green;
$imgpath: '/static/images';
@import '../../node_modules/handy-tools/styles/reset';
@import '../../node_modules/handy-tools/styles/breakpoints';
@import '../../node_modules/handy-tools/styles/fonts';
@import '../../node_modules/handy-tools/styles/general';
@import '../../node_modules/handy-tools/styles/buttons';
@import '../../node_modules/handy-components/styles/admin-layout';
@import '../../node_modules/handy-components/styles/admin-table';

div.menu-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: white;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  z-index: 0;
  background-image: url('/static/images/grid.svg');
  background-size: 60%;
  background-position: 50%;
}

body {
  background-color: black;
  color: white;

  div.inner {
    position: absolute;
    top: calc(50% - 200px);
    width: 100%;
  }

  div.menu-icon {
    display: block;
    width: 350px;
    height: 350px;
    margin: auto;
  }

  div.guitar {
    background-image: url('/static/images/guitar.svg');
  }

  div.violin {
    background-image: url('/static/images/violin.svg');
  }

  div.subway {
    background-image: url('/static/images/subway.svg');
  }
}

body.album-select {
  background-color: black;
  padding-bottom: 40px;

  div.link-container {
    display: inline-block;
    width: 33%;
    text-align: center;
    user-select: none;
    vertical-align: middle;

    div#random-album {
      background-image: url('/static/images/random.svg');
      width: 200px;
      height: 200px;
      margin: auto;
      margin-top: 40px;
    }

    div.album {
      margin-top: 40px;
      display: inline-block;
      background-color: black;
      padding: 40px;
      text-align: center;
      border: solid 1px gray;
      width: 85%;
      vertical-align: middle;

      h1 {
        font-family: 'TeachableSans-Regular';
        font-size: 40px;
        color: white;
        line-height: 50px;
        padding-bottom: 10px;
      }

      p {
        font-family: 'TeachableSans-SemiBold';
        color: green;
        font-size: 30px;
      }

      &:active {
        background-color: green;
        border: solid 1px black;

        h1, p {
          color: black;
        }
      }
    }
  }
}

body.play {
  background-color: black;

  a.back-arrow {
    position: absolute;
    width: 150px;
    top: 50px;
    left: 30px;

    img {
      width: 100%;
    }
  }

  h2 {
    margin-top: 50px;
    font-size: 60px;
    font-family: 'TeachableSans-Bold';
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
    font-family: 'TeachableSans-Regular';
    font-size: 50px;
    color: white;
    line-height: 40px;
    padding-bottom: 25px;
  }

  p {
    text-align: center;
    font-family: 'TeachableSans-Bold';
    color: green;
    font-size: 40px;
    margin-bottom: 30px;
  }

  table {
    margin: auto;
    font-family: 'TeachableSans-Regular';
    font-size: 40px;
    color: gray;
    border: solid 1px gray;
    border-radius: 10px;
    width: 90%;

    td {
      padding: 30px 0;
      text-align: center;

      &.playing {
        color: white;
      }
    }

    tr:first-of-type td {
      padding-top: 60px;
    }

    tr:last-of-type td {
      padding-bottom: 60px;
    }
  }
}
