$highlight-color: green;
$imgpath: '/static/images';
@import '../../node_modules/handy-tools/styles/reset';
@import '../../node_modules/handy-tools/styles/breakpoints';
@import '../../node_modules/handy-tools/styles/fonts';
@import '../../node_modules/handy-tools/styles/general';
@import '../../node_modules/handy-tools/styles/buttons';
@import '../../node_modules/handy-components/styles/admin-layout';
@import '../../node_modules/handy-components/styles/admin-table';

@import './main-menu-button';
@import './spinner';

@import './main-menu';
@import './album-list';
@import './subway';

body.public {
  background-color: black;
  color: white;
}

div.old-menu-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: white;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  z-index: 0;
  background-image: url('/static/images/grid.svg');
  background-size: 60%;
  background-position: 50%;
}

body.play {
  background-color: black;

  a.back-arrow {
    position: absolute;
    width: 150px;
    top: 50px;
    left: 30px;

    img {
      width: 100%;
    }
  }

  h2 {
    margin-top: 50px;
    font-size: 60px;
    font-family: 'TeachableSans-Bold';
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
    font-family: 'TeachableSans-Regular';
    font-size: 50px;
    color: white;
    line-height: 40px;
    padding-bottom: 25px;
  }

  p {
    text-align: center;
    font-family: 'TeachableSans-Bold';
    color: green;
    font-size: 40px;
    margin-bottom: 30px;
  }

  table {
    margin: auto;
    font-family: 'TeachableSans-Regular';
    font-size: 40px;
    color: gray;
    border: solid 1px gray;
    border-radius: 10px;
    width: 90%;

    td {
      padding: 30px 0;
      text-align: center;

      &.playing {
        color: white;
      }
    }

    tr:first-of-type td {
      padding-top: 60px;
    }

    tr:last-of-type td {
      padding-bottom: 60px;
    }
  }
}
