div.main-menu-button-container {
  box-sizing: content-box;
  background-color: black;
  padding: 50px 0;
  width: 260px;
  height: 160px;
  text-align: center;

  div.menu-button {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-image: url('/static/images/grid.svg');
    background-color: white;
    background-size: 60%;
    background-position: 50%;
  }
}
