.subway {
  width: 100%;
  height: 100%;

  table {
    width: 100%;
    font-size: 50px;
    color: white;

    tr:first-of-type {

      th:first-of-type {
        width: 230px;
      }
    }

    th {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    td.image-container {
      text-align: center;
    }

    th, td {
      padding-left: 20px;
      padding-right: 20px;

      &.unimportant {
        color: gray;
      }

      div.image {
        display: inline-block;
        $image_size: 120px;
        width: $image_size;
        height: $image_size;
        margin-top: 20px;
        margin-bottom: 20px;

        &.train-Q {
          background-image: url('/static/images/subway-line-Q.svg')
        }

        &.train-B {
          background-image: url('/static/images/subway-line-B.svg')
        }
      }
    }
  }
}
