.subway {
  width: 100%;
  height: 100%;

  $image_column_width: 200px;
  $time_column_width: 200px;
  $countdown_column_width: 200px;
  $spacer_width: calc(100% - #{$image_column_width} - (#{$time_column_width} * 2) - (#{$countdown_column_width} * 2));
  $arrival_header_width: calc(#{$time_column_width} + #{$countdown_column_width} + #{$spacer_width});
  $leave_header_width: calc(#{$time_column_width} + #{$countdown_column_width});

  table {
    width: 100%;
    font-size: 50px;
    color: white;

    .unimportant {
      color: gray;
    }
  }

  table.headers-table {

    th {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    th:first-of-type {
      width: $image_column_width;
    }

    th.arrival-header {
      width: $arrival_header_width;
    }

    th.leave-header {
      width: $leave_header_width;
    }
  }

  table.data-table {

    th, td {

      &.image-column {
        text-align: left;
        width: $image_column_width;
      }

      &.time-column {
        width: $time_column_width;
      }

      &.countdown-column {
        width: $countdown_column_width;
      }

      &.spacer {
        width: $spacer_width;
      }

      div.image {
        display: inline-block;
        $image_size: 120px;
        width: $image_size;
        height: $image_size;
        margin-top: 20px;
        margin-bottom: 20px;

        // http://subspotting.nyc/assets/img/line-icons/F.svg

        &.train-Q {
          background-image: url('/static/images/subway-line-Q.svg')
        }

        &.train-B {
          background-image: url('/static/images/subway-line-B.svg')
        }

        &.train-F {
          background-image: url('/static/images/subway-line-F.svg')
        }
      }
    }
  }
}
