$nav_width: 263px;
$border: solid 3px white;
$radius: 5px;
$image_size: 100px;
$tab_size: 160px;

.tabs {

  nav {
    display: inline-block;
    vertical-align: top;
    width: $nav_width;
    text-align: right;
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &:not(.no-border) .main-menu-button-container {
      border-right: $border;
    }

    .tab {
      display: inline-block;
      box-sizing: border-box;
      text-align: right;
      width: $tab_size;
      height: $tab_size;
      background-position: center;
      background-size: $image_size;

      &.selected {
        border-top: $border;
        border-left: $border;
        border-bottom: $border;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        background-position-x: calc(50% - 3px);
      }

      &:not(.selected) {
        border-right: $border;
      }
    }
  }

  section.tab-component {
    display: inline-block;
    position: relative;
    width: calc(100% - #{$nav_width});
    height: 100%;
    overflow: scroll;
  }
}
