{% extends "layout.html" %}

{% block content %}
  <body class="admin">
    <div id="admin-framework">
      <div id="admin-row" class="row">
        <div id="admin-sidebar" class="col-xs-2 match-height-layout">
          <div id="admin-sidebar-body">
            <ul>
              <li><a href="/albums">Albums</a></li>
            </ul>
          </div>
        </div>
        <div id="admin-right-column" class="col-xs-10 match-height-layout">
          <div id="admin-right-column-content">
            <div id="albums-index">loading...</div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
