<html>
  <head>
    <title>Jarvis</title>
    <link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for("static", filename="nice-select.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}" />
    <script src="{{ url_for("static", filename="javascript/jquery.js") }}"></script>
    <script src="{{ url_for("static", filename="javascript/jquery.nice-select.js") }}"></script>
    <script src="{{ url_for("static", filename="javascript/bundle.js") }}"></script>
    <script src="{{ url_for("static", filename="javascript/album-select.js") }}"></script>
    <script src="{{ url_for("static", filename="javascript/menu.js") }}"></script>
    <script src="{{ url_for("static", filename="javascript/menu-button.js") }}"></script>
    <script src="{{ url_for("static", filename="javascript/play.js") }}"></script>
    <script src="{{ url_for("static", filename="javascript/mta.js") }}"></script>
  </head>
  {% block admin_layout %}
    <body class="admin">
      <div id="admin-framework">
        <div id="admin-row" class="row">
          <div id="admin-sidebar-background" class="col-xs-2"></div>
          <div id="admin-sidebar" class="col-xs-2">
            <div id="admin-sidebar-body">
              <ul>
                <li><a href="/admin/albums">Albums</a></li>
              </ul>
            </div>
          </div>
          <div id="admin-right-column" class="col-xs-10">
            <div id="admin-right-column-content">
              {% block admin_content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </body>
  {% endblock %}
  {% block public_content %}{% endblock %}
  {% block menu_button %}<div class="old-menu-button"></div>{% endblock %}
</html>
