{% extends "layout.html" %}

{% block admin_layout %}{% endblock %}

{% block public_content %}
  <body class="play">
    <a class="back-arrow" href="/">
      <img src="/static/images/green-arrow.png" />
    </a>
    <h2>Playing</h2>
    <h1>{{ album.name }}</h1>
    <p>{{ album.artist_name }}</p>
    <table>
      {% for song_title in song_titles %}
        <tr><td class="{{ "playing" if loop.index0 == 0 else ""  }}" data-track="{{ loop.index }}">{{ song_title }}</td></tr>
      {% endfor %}
    </table>
  </body>
{% endblock %}
